*.kts linguist-detectable=true
*.kts linguist-documentation=false
*.kts linguist-language=KOTLIN

*.xml linguist-detectable=true
*.xml linguist-documentation=false
*.xml linguist-language=XML

*.note linguist-detectable=true
*.note linguist-documentation=false
*.note linguist-language=TEXT
